---
import { Icon } from "astro-icon/components";

import { SITE, SOCIALS } from "../consts";
import Container from "./Container.astro";
---

<footer class="animate">
  <Container>
    <div class="flex items-center justify-between">
      <div>&copy; {new Date().getFullYear()} • {SITE.TITLE}</div>
      <div class="flex flex-wrap items-center gap-2">
        {
          SOCIALS.map((social) => (
            <a
              href={social.url}
              target="_blank"
              class="inline-block rounded p-2 hover:bg-black/5 hover:text-black dark:hover:bg-white/5 dark:hover:text-white"
            >
              <Icon name={social.icon} class="h-5 w-5" />
            </a>
          ))
        }
      </div>
    </div>
  </Container>
</footer>
