---
import { Icon } from "astro-icon/components";
import Container from "./Container.astro";
import { SITE } from "../consts";
---

<footer class="animate">
  <Container>
    <div class="flex items-center justify-between">
      <div>&copy; {new Date().getFullYear()} • {SITE.TITLE}</div>
      <div class="flex flex-wrap items-center">
        <a
          href="https://www.linkedin.com/in/cvgellhorn/"
          target="_blank"
          class="inline-block rounded p-2 hover:bg-black/5 hover:text-black dark:hover:bg-white/5 dark:hover:text-white"
        >
          <Icon name="fa-brands:linkedin" class="h-5 w-5" />
        </a>
        <a
          href="https://x.com/cvgellhorn"
          target="_blank"
          class="mx-2 inline-block rounded p-2 hover:bg-black/5 hover:text-black dark:hover:bg-white/5 dark:hover:text-white"
        >
          <Icon name="tabler:brand-x" class="h-5 w-5" />
        </a>
        <a
          href="https://github.com/cvgellhorn"
          target="_blank"
          class="inline-block rounded p-2 hover:bg-black/5 hover:text-black dark:hover:bg-white/5 dark:hover:text-white"
        >
          <Icon name="fa-brands:github" class="h-5 w-5" />
        </a>
      </div>
    </div>
  </Container>
</footer>
