---
import { Icon } from "astro-icon/components";

import { SITE } from "../consts";
import Container from "./Container.astro";
import Link from "./Link.astro";
import ToggleTheme from "./ToggleTheme.astro";
---

<header transition:persist>
  <Container>
    <div class="flex flex-wrap items-center justify-between gap-y-2">
      <Link href="/" underline={false}>
        <div class="flex items-center font-semibold dark:text-white">
          <span class="mr-0.5 inline-block text-2xl">
            <Icon name="rocket-launch" />
          </span>
          <span>{SITE.TITLE}</span>
        </div>
      </Link>
      <nav class="flex items-center gap-1 text-sm">
        <Link href="/blog" className="mx-1 px-2 py-1">blog</Link>
        <Link href="/projects" className="mx-1 px-2 py-1">projects</Link>
        <ToggleTheme />
      </nav>
    </div>
  </Container>
</header>
