---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE } from "@consts";
import ToggleTheme from "./ToggleTheme.astro";
---

<header transition:persist>
  <Container>
    <div class="flex flex-wrap items-center justify-between gap-y-2">
      <Link href="/" underline={false}>
        <div class="font-semibold">
          {SITE.TITLE}
        </div>
      </Link>
      <nav class="flex items-center gap-1 text-sm">
        <Link href="/blog" className="mx-1 px-2 py-1">blog</Link>
        <Link href="/projects" className="mx-1 px-2 py-1">projects</Link>
        <ToggleTheme />
      </nav>
    </div>
  </Container>
</header>
